header {
    .header_carrito {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px 5px;

        .img-sushi {

            height: 150px;
        }

        .img-sushi2 {
            height: 150px;
        }

        a {
            .header_number {

                font-family: $font;
                color: $colorsecundario;
                font-size: 25px;
                margin-right: 10px;
            }

        }

    }
}

.container_title {

    background-color: $colorsecundario;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    height: 70px;
    color: black;

    p {
        font-family: $font;
        color: $colorpink;
        font-size: 20px;
    }

    .inputText {
        padding: 15px 15px;
    }
   
}

div {
    a {
        .icono {
            color: #025b6d;
        }
    }
}

.table_precios {

    div {
        table {
            tr {

                .title_product {
                    color: $colorpink;
                    font-family: $font;

                }

                .porciones {
                    font-size: 15px;
                    color: $colorprimario;
                    align-content: center;
                    font-family: $font;
                }

                .description {
                    color: $colorprimario;
                    font-family: $font;

                }

                .precio {
                    color: $colorpink
                }


            }
        }
    }
}
