@media screen and (max-width: 660px) {

    header {
        .header_carrito {
            .img-sushi {
                height: 100px;
            }

            .img-sushi2 {
                height: 120px;
            }

            a {
                i {
                    display: none;
                }

                p {
                    display: none;
                }
            }
        }
    }

    .container_title {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 140px;

        p {
            font-family: $font;
            color: $colorpink;
            font-size: 15px;
        }

        .inputText {
            padding: 5px 5px;
        }
    }
}