@media screen and (max-width: 660px) {

    header {
        .header_carrito {
            .img-sushi {
                height: 100px;
            }

            .img-sushi2 {
                height: 120px;
            }

            a {
                i {
                    display: none;
                }

                p {
                    display: none;
                }
            }
        }
    }

    .container_title {

        p {
            font-family: $font;
            color: $colorpink;
            font-size: 15px;
        }

        .inputText {

            width: 100px;
            margin-left: 15px;
        } 
    }
}